<div class="avatar avatar-placeholder">
  <div class="bg-neutral text-neutral-content w-6 rounded-full">
    <span class="icon-[tabler--user] size-4"></span>
  </div>
</div>

<div class="avatar avatar-placeholder">
  <div class="bg-neutral text-neutral-content w-10 rounded-full">
    <span class="icon-[tabler--user] size-6"></span>
  </div>
</div>

<div class="avatar avatar-placeholder">
  <div class="bg-neutral text-neutral-content w-14 rounded-full">
    <span class="icon-[tabler--user] size-8"></span>
  </div>
</div>

<div class="avatar avatar-placeholder">
  <div class="bg-neutral text-neutral-content w-16 rounded-full">
    <span class="icon-[tabler--user] size-10"></span>
  </div>
</div>
